*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr;
}

.cursor {
    cursor: pointer;
}

.transform-scale:hover {
    transform: scale(1.2);
}

.btn-w8h2 {
    width: 8rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 18px;
}

#header {
    display: flex;
    align-items: center;
    background-color: #f8fcff;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
}

#header>h1 {
    margin-left: 1rem;
}

#add-book-btn {
    margin-right: 1rem;
}

#add-book-dialog {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 26em;
    height: 32rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    border-radius: 13px;
    border: 1px solid #fff;
}

#add-book-dialog::backdrop {
    backdrop-filter: blur(5px);
}

#dialog-header {
    background-color: #f5deb3;
    display: grid;
    grid-template-columns: 1fr;
    height: 4.3rem;
    align-items: center;
    justify-items: center;
}

#dialog-header>h2 {
    font-size: 2rem;
}

#dialog-header-close {
    position: absolute;
    top: 5px;
    right: 10px;
    border: 1px solid #808080;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    font-size: 1.3rem;
}

#dialog-header-close:hover {
    color: red;
    border: 1px solid red;
}

#add-book-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-book-form>div {
    margin-bottom: 1rem;
}

#add-book-form>div>label {
    display: block;
    font-size: 1.5rem;
}

#add-book-form>div>input {
    width: 20rem;
    height: 2.3rem;
    font-size: 1.2rem;
}

#confirm-add-book-btn {
    background-color: #c2f4e8;
    margin-top: 1rem;
}

#cancel-add-book-btn {
    margin-left: 3.8rem;
    margin-top: 1rem;
}

#book-container {
    background-color: #f8f8ff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 20rem));
    grid-auto-rows: 20rem;
    gap: 1rem;
}

.book-card {
    border: 1px solid #ddd;
    padding: 1.2rem;
    margin: 1.2rem 0 0 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(45deg, #adfcea 26.8%, #c0e5f6 64%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    position: relative;
}

.book-card>p {
    font-size: 1.1rem;
}

.remove-book-icon {
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    background: none;
    font-size: 1.6rem;
}

.remove-book-icon:hover {
    color: red;
}

.book-status-toggler {
    width: 6rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: #f9afbe;
}

.read {
    background-color: #adfcea;
}